*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color:blueviolet;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color:cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 3000px;
    gap: 25px;
}

.form input{
    background-color: lightgoldenrodyellow;
    color: black;
}
.form textarea{
    background-color: lightgoldenrodyellow;
    color: black;
}